/* Container for the header with title and exit link */
.header-container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Manrope';
    margin: 0;
}

.exit-link {
    font-size: 28px;
    position: relative;
    top: -8px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Container for albums and images */
.albums-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: -270px;
}

.album-wrapper {
    position: relative;
    width: 450px;
    height: 600px;
}

/* Individual album image styling */
.album-image {
    width: 405px;
    height: 405px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.album-image:hover {
    transform: translateX(-50%) scale(1.03);
}

/* Styling for additional text below the albums */
.reveal-text {
    width: 267px;
    height: 33px;
    position: absolute;
    left: 50%;
    top: 920px;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-size: 17px;
    font-family: 'Manrope';
    font-weight: 400;
}

.album-title {
    width: 983px;
    height: 47px;
    position: absolute;
    left: 50%;
    top: 860px;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Manrope';
    font-weight: 1000;
}

.reset-button {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 17px;
    border: 1px solid black;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.reset-button:hover {
    cursor: pointer;
}

/* Styling for the next page arrow link */
.next-page-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
