/* Login.css */

.login-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.login-image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 200px;
}

.login-image {
    width: 161px;
    height: 161px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 175px;
}

.login-box {
    width: 400px;
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
}

.login-title {
    color: black;
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
}

.login-label {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: black;
    align-self: flex-start;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
}

.login-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-button {
    width: 60%;
    height: 40px;
    background: white;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #f0f0f0;
}

.login-error {
    margin-top: 20px;
    color: red;
    font-family: 'Manrope', sans-serif;
}
