/* Container for centering the target structure */
.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Centered, concentric target structure */
.personality-container {
    width: 90vw;
    height: 90vh;
    max-width: 800px;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: -1;
}

/* Circles centered within the container with smaller gaps */
.outer-circle, .middle-circle, .inner-circle, .dotted-circle, .core-circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjusted circle dimensions for smaller gaps */
.outer-circle {
    width: 95%;
    height: 95%;
    border: 1px solid black;
}

.middle-circle {
    width: 85%;
    height: 85%;
    border: 2px dotted black;
}

.inner-circle {
    width: 75%;
    height: 75%;
    border: 1px solid black;
}

.dotted-circle {
    width: 65%;
    height: 65%;
    border: 2px dotted black;
}

.core-circle {
    width: 55%;
    height: 55%;
    border: 1px solid black;
    background-color: white;
}

/* Centered text styling */
.personality-name, .personality-description {
    position: absolute;
    text-align: center;
    color: black;
    font-family: 'Manrope';
    word-wrap: break-word;
}

.personality-name {
    font-size: 35px;
    font-weight: 700;
    width: 70%;
    margin-bottom: 0px;
    top: 40%;
}

.personality-description {
    top: 60%;
    font-size: 15px;
    font-weight: 500;
    width: 40%;
    top: 49%;
}

.next-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

