/* Basic styling */
.navbar {
    width: 100%;
    height: 193px;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    box-sizing: border-box;
    opacity: 0.85;
    border-bottom: 1px rgba(0, 0, 0, 0.75) solid;

}

.navbar-logo-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-title {
    color: black;
    font-size: 24px;
    font-family: 'Manrope';
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
}

.navbar-logo {
    width: 50px;
    height: 30px;
}

/* Desktop links */
.navbar-links {
    display: flex;
    gap: 70px;
    align-items: center;
}

.navbar-link {
    color: black;
    font-size: 24px;
    font-family: 'Manrope';
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-link:hover, .mobile-menu a:hover {
    color: #555;
    transition: color 0.3s ease;
}

/* Hamburger icon styling */
.hamburger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

/* Mobile menu styling */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%); /* Start hidden */
    transition: transform 0.3s ease;
}
.mobile-menu.show {
    transform: translateY(0);
}

.mobile-menu li {
    margin: 10px 0;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
}

/* Responsive styles */
@media (max-width: 600px) {
    .navbar-links {
        display: none; /* Hide desktop links */
    }

    .hamburger-icon {
        display: flex; /* Show hamburger icon on mobile */
    }

    .mobile-menu {
        display: flex;
    }
}
