/* Wrapped Section */
.wrapped-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.wrapped-image {
    width: 160px;
    height: 160px;
}

.wrapped-title {
    text-align: left;
    color: var(--text-color);
    font-size: 30px;
    font-family: Manrope;
    font-weight: 500;
    margin-left: 20px;
}

.wrapped-date {
    font-size: 18px;
    font-weight: 500;
}
/* Divider */
.divider {
    width: 100%;
    border: 0.5px solid var(--text-color);
    margin-bottom: 20px;
}

.delete {
    font-size: 28px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 30px;
}

@media (max-width: 393px) {
    .wrapped-image {
        width: 90px; /* Further reduce image size */
        height: 90px;
    }

    .wrapped-title {
        font-size: 18px; /* Smaller font size for titles */
        margin-left: -10px; /* Reduce left margin */
    }

    .wrapped-date {
        font-size: 14px; /* Smaller font for dates */
    }

    .delete {
        font-size: 20px; /* Adjust size for delete button */
        margin-left: 5px; /* Reduce spacing */
    }

}