.screenshot20241017At340 {
  	position: absolute;
  	top: -25px;
  	left: -1px;
  	width: 308px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At341 {
  	position: absolute;
  	top: 303px;
  	left: -1px;
  	width: 306.7px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At342 {
  	position: absolute;
  	top: 631px;
  	left: 0px;
  	width: 306.7px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At343 {
  	position: absolute;
  	top: 959px;
  	left: -1px;
  	width: 306.7px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At3431 {
  	position: absolute;
  	top: 168px;
  	left: 331px;
  	width: 230px;
  	height: 231px;
  	object-fit: cover;
}
.screenshot20241017At344 {
  	position: absolute;
  	top: -82px;
  	left: 331px;
  	width: 230px;
  	height: 231px;
  	object-fit: cover;
}
.screenshot20241017At346 {
  	position: absolute;
  	top: 748px;
  	left: 586px;
  	width: 308px;
  	height: 301.2px;
  	object-fit: cover;
}
.screenshot20241017At3441 {
  	position: absolute;
  	top: 418px;
  	left: 331px;
  	width: 230px;
  	height: 231px;
  	object-fit: cover;
}
.screenshot20241017At345 {
  	position: absolute;
  	top: 668px;
  	left: 331px;
  	width: 230px;
  	height: 231px;
  	object-fit: cover;
}
.screenshot20241017At3451 {
  	position: absolute;
  	top: 918px;
  	left: 331px;
  	width: 230px;
  	height: 231px;
  	object-fit: cover;
}
.screenshot20241017At348 {
  	position: absolute;
  	top: 418px;
  	left: 585px;
  	width: 306.7px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At349 {
  	position: absolute;
  	top: 83px;
  	left: 585px;
  	width: 306.7px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At3491 {
  	position: absolute;
  	top: -244px;
  	left: 586px;
  	width: 307px;
  	height: 308px;
  	object-fit: cover;
}
.screenshot20241017At340Parent {
  	width: 100%;
  	position: relative;
  	height: 1024px;
  	overflow-y: auto;
}

