/* Container for the entire component */
.welcome-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    margin-top: -325px;
    overflow: hidden;
}

/* Common styling for each image column */
.image-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    overflow: hidden;
}

.image-column1 {
    animation: scrollDown 10s linear infinite;
}

.image-column2 {
    animation: scrollUp 10s linear infinite;
}

.image-column3 {
    animation: scrollDown 10s linear infinite;
}

/* Carousel animation for columns */
@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Style images to fit their container */
.carousel-image1,.carousel-image3 {
    width: 310px;
    height: 310px;
}

.carousel-image2 {
    width: 210px;
    height: 210px;
}

