/* Welcome.css */
.welcome-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    margin-top: -325px;
    overflow: hidden;
}

/* Common styling for each image column */
.image-column {
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
}

.image-column-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-column1 .image-column-inner {
    animation: scrollDown 60s linear infinite;
}

.image-column2 .image-column-inner {
    animation: scrollDown 60s linear infinite;
}


.image-column3 .image-column-inner {
    animation: scrollDown 60s linear infinite;
}

/* Carousel animations */
@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-75%);
    }
}


/* Style images to fit their container */
.carousel-image1,
.carousel-image3 {
    width: 310px;
    height: 310px;
}

.carousel-image2 {
    width: 210px;
    height: 210px;
}
